<%-include('partials/header')%>
<div class="container-fluid">
    <h1>Headache Attack</h1>

<div class="page-top-contianer"></div>
    <%if(status === "started"){%>
        <p>Status: <%=status%></p>
        
    <p class="attackTimer">Duration: <span id="attackTimer"></span></p>
    

        <%}%>
        <%if(status === "ended"){%>
            <p>Status: <%=status%></p>
            <p class="attackTimer"><span>Duration: </span> <%=attackTimerData%></p>
            
                <%}%>
    </div>





<form action="/attack<%=attackButtonEjs%>" method="POST">
    <input type="hidden" name="attackMoment" value="<%Date()%>">
    <input type="hidden" name="attackEnd" value="<%Date()%>">
    <input type="hidden" name="attackStartMoment" value="<%=attackMomentEjs%>">
    <input type="hidden" name="timer" value="00:00:00" id="attackTimerData">
    <div class="attack-container">
<button id="<%=attackButtonEjs%>attackButton" class="btn attack-btn <%=attackButtonEjs%>" type="submit">Attack <%=attackButtonEjs%></button>

</form>

<div style="display: <%=displayStyleEjs%>">
<form class="attack-form"  action="/attackInfo" method="POST" style="margin-top: 100px">
    <label for="intensityAttack">Intensity</label>
    <input class="form-control" type="hidden" name="attackStartMoment" value="<%=attackMomentEjs%>">
<select class="form-control" name="intensity" id="intensityAttack">
    <option selected value="0"> Select pain intensity</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<br>
<% activeMedsEjs.forEach(function(medication){%>
    
   
    <input type="hidden" name="name" value="<%=medication.name%>">
    <input type="checkbox" class="form-check-input" name="currentlyUsing" value="<%=medication.name%>">
    <label for="<%=medication.name%>"><%=medication.name%></label>
    <input class="form-control" type="number" id="amount" name="amount" placeholder="Input amount of <%=medication.medType%>">
    
    <input type="hidden" name="timesPer" value="<%=medication.timesPer%>">
 
    <input class="form-control" type="number" id="dose" name="dose" placeholder="Input the <%=medication.doseType%>">
    <input type="hidden" name="doseType" value="<%=medication.doseType%>" >

    <input type="hidden" name="form" value="<%=medication.medType%>">
    <br>
    


<%}); %>
<% preventiveMedsEjs.forEach(function(medication){%>
    <h3>Currently using: <%=medication.name%></h3>
    <input type="hidden" name="currentlyUsingPrev" value="<%=medication.name%>">
<%}); %>
   
       
   



<button  type="submit">Submit</button>
</form>

<br><br>



</div>
</div>
<%-include('partials/attackScript')%>
<%-include('partials/footer')%>