<%-include('partials/header')%>
<div class="page-top-contianer"><h1>Headache Attack</h1>
    <%if(status === "started"){%>
    <p id="attackTimer"></p>

        <%}%>
    </div>





<form action="/attack<%=attackButtonEjs%>" method="POST">
    <input type="hidden" name="attackMoment" value="<%Date()%>">
    <input type="hidden" name="attackEnd" value="<%Date()%>">
    <input type="hidden" name="attackStartMoment" value="<%=attackMomentEjs%>">
    <div class="attack-container">
<button id="<%=attackButtonEjs%>attackButton" class="btn attack-btn <%=attackButtonEjs%>" type="submit">Attack <%=attackButtonEjs%></button>

</form>

<div style="display: <%=displayStyleEjs%>">
<form action="/attackInfo" method="POST" style="margin-top: 100px">
    <label for="intensityAttack">Intensity</label>
    <input class="form-control" type="hidden" name="attackStartMoment" value="<%=attackMomentEjs%>">
<select class="form-control" name="intensity" id="intensityAttack">
    <option selected value="0"> Select pain intensity</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<br>
<% activeMedsEjs.forEach(function(medication){%>
    
   
    <input type="hidden" name="name" value="<%=medication.name%>">
    <input type="checkbox" class="form-check-input" name="currentlyUsing" value="<%=medication.name%>">
    <label for="<%=medication.name%>"><%=medication.name%></label>
    <input class="form-control" type="number" id="amount" name="amount" placeholder="Input amount of <%=medication.medType%>">
    <label for="amount"><%=medication.medType%> per <%=medication.timesPer%></label>
    <input type="hidden" name="timesPer" value="<%=medication.timesPer%>">
    <label for="dose">Containing</label>
    <input class="form-control" type="number" id="dose" name="dose" placeholder="Input the <%=medication.doseType%>">
    <input type="hidden" name="doseType" value="<%=medication.doseType%>" >
    <label for="dose"><%=medication.doseType%></label>
    <input type="hidden" name="form" value="<%=medication.medType%>">
    <br>
   


<%}); %>
   
       
   



<button class="btn btn-lg attack-btn" type="submit">Submit</button>
</form>

<br><br>



</div>
</div>
<%-include('partials/attackScript')%>
<%-include('partials/footer')%>