<%-include('partials/header')%>
<%if (userEjs != 'undefined' && userEjs.firstName != 'undefined' && userEjs.lastName != 'undefined'){%>
<div class="container-fluid">
    <h1>Hi <%=userEjs.firstName%> <%=userEjs.lastName%></h1>
</div>


    <a href="#"><img src=<%=userEjs.picture[0].value%> alt="" class="profileImg"></a>

    <%}%>

    <div class="row">
        
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
        <div class="container">
            <a href="/attack"><button class="btn btn-xl btn-danger">Attack!</button></a>
        </div>
        <div class="container">
            <a href="/overview"><button class="btn btn-xl btn-primary">Overview</button></a>
        </div>
        <div class="container">
            <a href="/medication"><button class="btn btn-xl btn-warning">Medication</button></a>
        </div>
    </div>


    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="messageArea">
            <h2>The is the message area - <br> feature will be added in next relesase</h2>
            <%messagesEjs.forEach(function(message){%>
                <div>
                <h2><%=message.title%></h2>
                <p><%=message.message%></p>
                <span class="date"><%=message.publicationDate%> </span> <span class="name">- <%=message.user%></span>
                <div class="container">
                    <%message.replies.forEach(function(reply){%>
                    <h5><%=reply.title%></h5>
                    <p><%=reply.message%></p>
                    
                <%});%>
                </div>
            </div>
            <div>
                <button id="toggleButton">+</button>
            </div>
            <div class="messageContainer replyContainer">
                
                    <form action="/replyPost" method="POST">
                        <input type="hidden" name="id" value="<%=message._id%>">
                        <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" required>
                    <label for="message">Message</label>
                    <input class="form-control" type="textbox" name="message" required>
                    <button type="submit">submit</button>
                </form>
            </div>

            <%})%>
            
            
        </div>
        <%if(userEjs){%>
            <%if(userEjs.admin){%>
            <div class="messageContainer container">
                <form action="/messagePost" method="POST">
                    <label for="title">Title</label>
                <input class="form-control" type="text" name="title" required>
                <label for="message">Message</label>
                <input class="form-control" type="textbox" name="message" required>
                <button type="submit">submit</button>
            </form>
        </div>
        <%}%>
    <%}%>
    </div>

</div>

    
    <%-include('partials/footer')%>