<%-include('partials/header')%>
<%if (userEjs != 'undefined' && userEjs.firstName != 'undefined' && userEjs.lastName != 'undefined'){%>
<div class="container-fluid">
    <h1>Hi <%=userEjs.firstName%> <%=userEjs.lastName%></h1>
</div>


    <a href="#"><img src=<%=userEjs.picture[0].value%> alt="" class="profileImg"></a>

    <%}%>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
        <div class="container">
            <a href="/attack"><button class="btn btn-xl btn-danger">Attack!</button></a>
        </div>
        <div class="container">
            <a href="/overview"><button class="btn btn-xl btn-primary">Overview</button></a>
        </div>
        <div class="container">
            <a href="/medication"><button class="btn btn-xl btn-warning">Medication</button></a>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="message-container">
            <h2>The is the message area - <br> feature will be added in next relesase</h2>
            <ul>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
                <li>Lorum</li>
            </ul>
        </div>
    </div>

</div>
    
    
    <%-include('partials/footer')%>